<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mysite.blog.mapper.BlogUserRelationMapper">
    <resultMap id="BaseResultMap" type="com.mysite.blog.pojo.BlogUserRelation">
        <id column="relation_id" jdbcType="BIGINT" property="relationId"/>
        <result column="blog_id" jdbcType="CHAR" property="blogId"/>
        <result column="user_id" jdbcType="CHAR" property="userId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="public_column">
        relation_id, blog_id, user_id, create_time
    </sql>

    <insert id="insert" parameterType="com.mysite.blog.pojo.BlogUserRelation">
        insert into `tb_blog_user_relation` (`blog_id`,`user_id`) values (#{blogId},#{userId});
    </insert>
    <select id="queryDynamic" parameterType="map"  resultMap="BaseResultMap">
        select
        <include refid="public_column" />
        from tb_blog_user_relation
        <where>
            <if test="blogId != null">
                blog_id = #{blogId,jdbcType=CHAR}
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=CHAR}
            </if>
        </where>
    </select>

    <delete id="deleteByBlogPrimaryId" parameterType="java.lang.String">
        delete from tb_blog_user_relation where blog_id = #{blogId,jdbcType=CHAR};
    </delete>
</mapper>