<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" th:href="@{${configurations.get('websiteIconUrl')}}" type="image/ico">
    <title>Reset Password</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" th:href="@{/user/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/user/css/materialize.min.css}">
    <link rel="stylesheet" th:href="@{/user/css/tooplate.css}">
</head>

<body id="login">
<div class="container">
    <div class="row tm-register-row tm-mb-35">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-login-l">
            <div class="input-field">
                <input type="hidden" name="verifyId" th:value="${verifyId}">
                <input type="hidden" name="userId" th:value="${userId}">
                <input placeholder="Please enter password" id="password" name="password" type="password"
                       class="validate" autocomplete="off">
            </div>
            <div class="input-field mb-5">
                <input placeholder="Please enter the password again" id="second-confirmation" name="second-confirmation"
                       type="password"
                       class="validate" autocomplete="off">
            </div>
            <div class="tm-flex-lr">
                <button type="submit" id="submit-button"
                        class="waves-effect btn-large btn-large-white px-4 black-text rounded-0">
                    Submit
                </button>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-login-r">
            <header class="font-weight-light tm-bg-black p-5 h-100">
                <h3 class="mt-0 text-white font-weight-light">Reset Password</h3>
                <p>粗心的你来到了这个页面，希望我们下次见面是很久以后。</p>
                <p class="mb-0">Careless you came to this page, I hope we meet again in a long time.</p>
            </header>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/admin/common/light_year/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/user/js/materialize.min.js}"></script>
<script type="text/javascript" th:src="@{/admin/dist/js/public.js}"></script>
<script type="text/javascript" th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<script type="text/javascript" th:src="@{/user/js/resetPassword.js}"></script>
</body>
</html>